# image generator
# raidboardapp repo in raid_tmp/app/index.editorbeta_enhance.html
# renderdata in raid_tmp/app/renderdata
/raidboardapp
# renderer webapp bender
# check submodule
/echosoflight
# renderer client solution folder
# check submodule
/raidtool
# readme generator files
# run on dotnet 6.0 : `dotnet run`
/[Oo]bj
/[Bb]in
/.vs
/.vscode
/Asphodelos.csproj
/gen.cs
# distribute
/dist